<!DOCTYPE html>
<html>
  <head>
    <title><%= turma %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= turma %></h1>
    <p>Seja bem-vind@ à <%= turma %></p><br>

    <p>Cumprimente o Barney!</p>

    <img src="https://wallpapers.com/images/hd/barney-pictures-uxbxl1zx3c02i476.jpg" style="height: 300px; width: auto;">
    
    <br><br>
    <a href="http://localhost:3000/meu-endpoint"><button>End-Point</button></a>
    <a href="http://localhost:3000/agora"><button>Hora agora</button></a>
  </body>
</html>
